.mainSquare {
  width: 80%;
  height: 80%;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  transition: 0.5s;
}

.rectangleContainer {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  z-index: 33;
}

.rectangleContainer:hover {
  fill: rgb(231, 65, 28);
  stroke:#17d851;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  stroke-dasharray: 0, 0;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  opacity: 0.8;
  /* shine outlin */
}

.whiteBox {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0 0 10px #000;
  overflow: hidden;
}

.titleHeader {
  border-radius: 5px;
  margin: 4px;
  font-size: xx-large;
  color: black;
}
.title {
  margin: 2px;
  font-size: medium;
  color: rgb(47, 40, 40);
}
.treeMapTitle {
  margin: 2px 0;
  color:white;
}

.amountdebit {
  font-size: medium;
  color: rgb(230, 36, 36);
}
.amountcredit {
  font-size: medium;
  color: rgb(20, 105, 20);
}
.balanceAmount {
  font-size: medium;
  color: rgb(0, 0, 0);
}
.tableHead {
  font-style: italic;
  font-size: medium;
  font-weight: 100;
}
.rectangleChildText {
  resize: both;
  color: white;
  resize: none;
  overflow: hidden;
  float: left;
  padding: auto;
  margin: 4px;
}
.rectangleChildHead {
  resize: both;
  color: white;
  overflow: auto;
  font-weight: 300;
  font-style: italic;
  font-size: x-large;
  padding: 4px;
  border-radius: 5px;
  width: auto;
  resize: none;
  overflow: hidden;
  text-align: left;
  /* //text bottom */
}
.divideLine {
  border-top: 1px solid white;
}
.rectangleItemContainer {
  overflow: hidden;
  fill-opacity: 0.5;
}

.rectangleChildHead span {
  background-color: rgb(43, 36, 36);
  padding: 6px;
  border-radius: 2px;

  position: absolute;
  bottom: 0;
  right: 0;
}
.rectangleContainer:hover .rectangleChildText{
    resize: both;
    color: rgb(21, 20, 20);
    resize: none;
    overflow: hidden;
    float: left;
    background: #17d851;
    padding: 5px;
    display: block;
    font-size: small;
}
.hireachy{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin: 4px 3.5%;
    font-size: xx-large;
    color: rgb(248, 246, 246);
    background-color: rgb(47, 110, 228);
    float: left;
    padding: 5px;
}
.bold{
    font-weight: 900;
    color: #0b1c10;
}