.payment-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .payment-block {
    width: 200px;
    height: 100px;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .month {
    font-size: 18px;
    font-weight: bold;
    color: aliceblue;
  }
  
  .amount {
    font-size: 14px;
    color: green;
  }
  .chunks{
    height: 20px;
    width: 20px;
    background-color: rgb(20, 72, 162);
    margin:2px;
    border-radius: 1px;
    border: 1px solid rgb(91, 114, 154);
  }
  .chunksdate{
    height: 20px;
    width: 20px;
    color: aliceblue;
    margin:2px;
    cursor:pointer;
  }
  
    .chunksSuccess:hover{
        background-color: rgb(113, 224, 154);
        /* add tool tip for chunks on hover */
    }
  .chunksSuccess{
    cursor:pointer;
    background-color: rgb(9, 197, 78);
    border: 1px solid rgb(105, 154, 123);
  }
  .chunksWarning{
    cursor:pointer;
    background-color: rgb(207, 238, 68);
    border: 1px solid rgb(219, 240, 84);
  }
  .chunksFailure{
    cursor:pointer;
    background-color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
  }
  .chunksFailure:hover{
    background-color: rgb(223, 100, 100);
  }
  .spanText{
    font-size: 14px;
  }
  .spanBox{
    height: 20px!important;
    width: 20px;
    margin: 6px;
  }
  .select{
    width: 18rem;
    margin-left: 1rem;
  }
  .chunksDate{
    height: 20px;
    width: 20px;
    margin:2px;
    cursor:pointer;
    border-radius: 2px;
  }
  .bottomLines{
    border-bottom: 0.1px solid lightgray;
  }
  .calenderText{
    top: 10%;
    left: 20%;
    position: absolute;
  }